.options {
  font-family: CeraB;
  margin-top: -950px;
  margin-left: 50px;
  /* width: 200px; */
}

.options p {
  font-family: CeraB;
  margin-top: 10px;
  margin-left: 10px;
  color: var(--unnamed-color-3598db);
  letter-spacing: 0px;
  color: #979797;
}

.search {
  margin-top: -140px;
  margin-left: 180px;
  width: 390px;
  height: 45px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 31px;
  opacity: 1;
}

.search svg {
  margin-left: 20px;

  margin-top: 20px;
}

.add {
  margin-top: -40px;
  margin-left: 600px;
  /* width: 70px;
  height: 35px;
  background: var(--unnamed-color-3598db) 0% 0% no-repeat padding-box;
  background: #3598db 0% 0% no-repeat padding-box;
  box-shadow: 1px 3px 10px #00000033;
  border-radius: 8px;
  opacity: 1; */
}

.add button {
  margin-top: 0px;
  margin-left: 15px;
  width: 65px;
  height: 37px;

  font: normal normal normal 15px/22px Metro;
  background-color: #3598db;
  border: #3598db;
  color: #ffffff;
}

.sort {
  margin-top: -98px;
  margin-left: 720px;

  font: normal normal normal 15px/19px Metro;
}

.sort select {
  width: 170px;
  height: 31px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid white;
  opacity: 1;
}

.radio {
  margin-top: 30px;
  margin-left: 720px;
  font: normal normal normal 15px/19px Metro;
}

.radio select {
  width: 155px;
  height: 31px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-3598db);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #3598db;
  opacity: 1;
}

.radio select option {
  color: #979797;
}

.radio input {
  width: 21px;
  height: 21px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-3598db);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #3598db;
  opacity: 1;
}

.main-notes {
  margin-top: 20px;
  margin-left: 210px;
  width: 890px;
  height: 227px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 1px 3px 10px #00000033;
  border-radius: 8px;
  opacity: 1;
}

.main-notes input {
  margin-top: 20px;
  margin-left: 20px;
  width: 21px;
  height: 21px;
  border: 1px solid var(--unnamed-color-3598db);
  border: 1px solid #3598db;
  opacity: 1;
}

.main-notes .last_edited {
  margin-top: -25px;
  margin-left: 60px;
  color: #979797;
  font: normal normal normal 15px/19px Metro;
}

.main-notes img {
  margin-top: -40px;
  margin-left: 170px;
}

.main-notes .addedby {
  margin-top: -45px;
  margin-left: 230px;
  color: #979797;
  font: normal normal normal 15px/19px Metro;
}

.main-notes .type {
  margin-top: -35px;
  margin-left: 320px;
  color: #979797;
  font: normal normal normal 15px/19px Metro;
}

.main-notes .timespent {
  margin-top: -35px;
  margin-left: 470px;
  color: #979797;
  font: normal normal normal 15px/19px Metro;
}

.main-notes .edit {
  margin-top: -35px;
  margin-left: 650px;
  font: normal normal normal 15px/19px Metro;
}

.main-notes .addedon {
  margin-top: 80px;
  margin-left: 60px;
  color: #979797;
  font: normal normal normal 15px/19px Metro;
}

.main-notes .addedon {
  margin-top: 70px;
  margin-left: 60px;
  color: #979797;
  font: normal normal normal 15px/19px Metro;
}

.main-notes p {
  margin-top: -35px;
  margin-left: 170px;
  width: 700px;
  height: 68px;
  font: normal normal normal 15px/19px Metro;
  color: #333333;
}

.btn {
  padding: 7px 12px;
  background-color: #3598db;
  color: #fff;
  border-radius: 8px;
  border: none;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 13% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  height: 400px;
  width: 47%;
  /* Could be more or less, depending on screen size */
  border-radius: 11px;
}

/* The Close Button */
.close {
  color: #979797;
  float: right;
  font-size: 15px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content .p-class {
  font-family: Metro;
  font-size: 20px;
  color: #333333;
  margin-bottom: 10px;
}

.modal-content p {
  font-family: Metro;
  color: #979797;
}

.right-column-1 a {
  color: #297fb8;
  float: right;
  margin-top: -30px;
  margin-right: 30px;
}

.modal-content .upload {
  margin-top: 20px;
  margin-left: 20px;
  color: #3598db;
  font: normal normal normal 20px/19px CeraB;
}

.modal-content .filetype {
  margin-top: 20px;
  margin-left: 20px;
  font: normal normal normal 15px/19px MetroM;
}

.modal-content .filetype1 {
  margin-top: -250px;
  margin-left: 350px;
  font: normal normal normal 15px/19px MetroM;
}

.modal-content .filetype2 {
  margin-top: 10px;
  margin-left: 350px;
  font: normal normal normal 15px/19px MetroM;
}

.modal-content .filetype1 input {
  margin-top: 10px;
  margin-left: 0px;
  width: 300px;
  height: 130px;
  border: 2px solid var(--unnamed-color-3598db);
  border: 2px solid #3598db;
  border-radius: 7px;
  opacity: 1;
}

.modal-content .filetype2 .input input {
  margin-top: 20px;
  margin-left: 0px;
  width: 300px;
  height: 40px;
  border: 2px solid var(--unnamed-color-3598db);
  border: 2px solid #3598db;
  border-radius: 7px;
  opacity: 1;
}

.modal-content .filetype select {
  margin-top: 10px;
  margin-left: 0px;
  width: 300px;
  height: 40px;
  border: 2px solid var(--unnamed-color-3598db);
  border: 2px solid #3598db;
  border-radius: 7px;
  opacity: 1;
}

.modal-content button {
  margin-top: 10px;
  margin-left: -70px;
  width: 132px;
  height: 47px;
  border: #3598db;
  color: #fefefe;
  background: var(--unnamed-color-3598db) 0% 0% no-repeat padding-box;
  background: #3598db 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  opacity: 1;
}

/* shubham's code start */

@media screen and (min-width:650px) {

  .search {
    display: flex;
    align-items: center;
    margin-left: 210px;
  }

  .last_edited {
    margin-top: 15px !important;
    height: fit-content;
  }

  .small_container {
    max-width: 100vw !important;
  }

  .bread-crumbs_Mytools-recruiter {
    margin-top: -20px !important;
  }

  .profile-img {
    margin-top: 40px !important;
  }

  .button {
    direction: rtl;
    margin-right: 80px;
  }

  .status {
    float: right;
    height: fit-content !important;
    margin: 0px !important;
  }

  .options {
    margin: 0px 0px 0px 64px;
  }

  .form input {
    width: 130px;
  }

  .form i {
    margin-left: 35px;
    font-size: x-large;
  }

  .files {
    display: grid;
    width: 790px;
  }

  .search {
    margin-top: -155px;
  }

  .files .uploaded,
  .files .delete {
    margin-top: -70px;
  }

  .sort-by {
    margin-top: 60px;
  }

  .radio input {
    width: 21px;
  }

  .main-notes {
    height: 240px;
  }

  .main-notes .edit {
    float: right;
    margin: -35px 20px 0px 0px;
  }

  @media screen and (max-width:1500px) {
    .main-notes {
      max-width: 60%;
      height: 260px;
    }

    .main-notes p {
      width: 75%;
    }
  }

  @media screen and (max-width:1400px) {
    .profile-img {
      margin-left: 0px;
    }

    .options {
      margin: 0px 0px 0px 24px;
    }

    .status {
      margin-top: 20px !important;
    }

    .search {
      margin-left: 155px;
    }

    .add {
      margin-left: 560px;
    }

    .radio,
    .sort {
      margin-left: 720px;
    }

    .sort-by {
      margin-left: -40px;
    }
  }

  @media screen and (max-width:1360px) {

    .button {
      margin-bottom: 60px;
    }

    .options {
      display: flex;
      margin: -65px 0px 0px 0px;
      overflow-x: scroll;
      justify-content: space-evenly;
      width: 100%;
    }

    .search {
      margin-top: 30px;
      margin-left: 0px;
    }

    .add {
      margin-left: 420px;
    }

    .sort-by {
      margin-left: -190px;
    }
  }

  @media screen and (max-width:1225px) {

    .add {
      margin: 20px;
    }

    .sort {
      margin-top: -120px;
      margin-left: 660px;
    }

    .radio {
      margin-left: 650px;
    }

    .files {
      width: 710px;
    }

    .files img {
      display: none;
    }

    .files .uploaded {
      margin-left: 475px;
    }

    .delete>span,
    .download {
      margin-left: 250px;
    }
  }

  @media screen and (max-width:1165px) {

    .sort,
    .radio {
      margin: 20px 210px;
    }

    .files {
      display: block;
      height: fit-content;
      width: fit-content;
      text-align: center;
    }

    .files>div {
      margin: 0px !important;
    }

    .main-notes {
      height: 300px;
      width: 56%;
    }

    .main-notes .last_edited {
      margin-left: 20px;
      margin-top: 35px !important;
    }

    .main-notes img {
      margin-left: 140px;
    }

    .main-notes .addedby {
      margin-left: 200px;
    }

    .main-notes .type {
      margin-left: 300px;
    }

    .main-notes .timespent {
      margin-left: 450px;
    }

    .main-notes .edit {
      margin: -42px 5px 0px 0px;
      display: grid;
    }

    .main-notes .addedon {
      margin-left: 40px;
    }

    .main-notes p {
      margin-left: 150px;
    }
  }

  @media screen and (max-width:1070px) {
    .profile-img {
      margin-left: 0px !important;
    }

    .options {
      margin-left: 26px;
    }

    .main-notes {
      margin-left: 190px;
    }

    .main-notes img {
      display: none;
    }

    .main-notes .addedby {
      margin-top: -40px;
      margin-left: 140px;
    }

    .main-notes .type {
      margin-top: -39px;
      margin-left: 240px;
    }

    .main-notes .timespent {
      margin-left: 390px;
    }

    .main-notes .addedon {
      margin-left: 20px;
    }

    .main-notes p {
      height: fit-content;
      margin-left: 140px;
    }
  }

  @media screen and (max-width:960px) {
    .status {
      margin-top: 40px !important;
    }
  }

  @media screen and (max-width:1000px) {
    .status {
      display: none;
    }

    .main-notes {
      max-width: 70%;
      width: 70%;
      margin: 20px 0px 0px 190px;
    }
  }
}

/* shubham's code end */


@media screen and (max-width: 650px) {

  .sort,
  .cars,
  .radio input,
  .radio,
  .p1,
  .status,
  .bread-crumbs_Mytools-recruiter {
    display: none;
  }

  .fa {
    margin-left: -20px;
  }

  .button {
    /* position: relative;
    display: flex; */
    margin-top: 120px;
  }

  .search {
    width: 369px;
    margin-left: -5px;
    margin-top: 50px;
  }

  .profile-img {
    margin-left: -26px;
    width: 140px;
    height: 48px;
  }

  .profile-img h2 {
    position: relative;
    width: 200px;
    font-size: 19px;
  }

  .profile-img h4 {
    position: relative;
    width: 200px;
    font-size: 22px;
  }

  .options {
    margin-left: 20px;
    margin-top: 40px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    margin-bottom: -20px;
  }

  .add {
    position: relative;
    left: -595px;
    top: 90px;
  }

  .add button {
    width: 140px;
    height: 48px;
    font-size: 22px;
  }

  .modal-content {
    position: relative;
    width: 370px;
    height: 750px;
  }

  .modal-content .filetype1 {
    position: relative;
    top: 255px;
    left: -333px;
  }

  .modal-content .filetype2 {
    position: relative;
    top: 251px;
    left: -334px;
  }

  .modal-content button {
    position: relative;
    left: 152px;
    font-size: 15px;
    top: 15px;
  }

  .modal-content .filetype select {
    position: relative;
    width: 300px;
    min-width: 90%;
  }

  .modal-content .filetype select #note_type option {
    width: 150px;
  }
}